.form-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}