
<form [formGroup]="greetingForm" (ngSubmit)="handleSubmit()">
    @if (!greetingForm.value.name){
        <p>Welcome to your Spotify Stats! What's your Name?</p>
    } @else {
        <p> Hello {{ greetingForm.value.name }}!</p>
    }
    <label for="name">Name:
        <input id="name" type="text" formControlName="name" />
    </label>
    <p> What's your Spotify username?</p>
    <label for="accountName">Username:
        <input id="accountName" type="text" formControlName="accountName" />
    </label>
    <br>
    <app-year-select (outputYear)="setYear($event)" />
    <br>
    <button id="submit" type="submit">Checkout my Spotify Stats!</button>

</form>